{% extends 'ticketapp/header.html' %}
{% block content %}

<div class="loginform mb-3" style="width:50%; margin-left:auto; margin-right:auto; box-shadow: 0 0 9px #000;padding:12px; border-radius:2%">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
  <form action="{% url 'login' %}" method="post" class="form d-block border-left " >
      {% csrf_token %}
        <h1 class="border-bottom p-3 text-center bg-success" style="font-size:16px; color:white">Log into your account</h1>
        <div class="error-text m-3 bg-light p-2" style="color:red">
          {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
          {% endif %}
        </div>
        <div class="mzb-3">
            <label for="exampleInputNationality" class="form-label">Username</label>
            <input name="username" type="text" class="form-control" id="exampleInputNationality" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1" required>
            <i class="fas fa-eye"></i>
          </div>
        
        <div class="mb-3 form-check">
          <p><a href="{% url 'password_reset' %}" class="link text-muted">Forgot password?</a></p>
          {% comment %} <p>Not have account yet?<a href="{% url 'signup' %}" class="link text-muted">Create account</a></p> {% endcomment %}
        </div>
        <button type="submit" class="btn btn-success">Login</button>
        <input type="hidden" name="next" value="{{ next }}" /
      </form>
</div>


{% endblock  %}



