 @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    box-sizing: border-box;
}
:root{
  --blue:#287bff;
  --white:#fff;
  --grey:#f5f5f5;
  --black1:#222;
  --black2:#999;
  --darkblue:#050A30;
}
body{
  min-height: 100vh;
  overflow-x: hidden;
}
/* employee user base csss */

.container-fluid{
  position: relative;
  width: 100%;
}
.sidebar{
  position: fixed;
  width: 300px;
  height: 100%;
  background:var(--darkblue) ;
  border-left:10px solid var(--darkblue) ;
  transition: 0.5s;
  overflow: hidden;
  left: 0;
}
.sidebar.active{
  width: 100px;
  transition: 0.5s;
}
.sidebar ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.sidebar ul li{
  position: relative;
  width: 100%;
  list-style: none;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  text-transform: uppercase;
}
.sidebar ul li:hover{
  background: var(--white);
}
.sidebar ul li:nth-child(1){
  margin-bottom: 10px;
  pointer-events: none;
}
.sidebar ul li a{
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.sidebar ul li :hover a{
  color: var(--darkblue);
}
.sidebar ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  margin-right: 20px;
}
.sidebar ul li a .icon ion-icon{
  font-size: 1.75em;
}
.sidebar ul li a .title{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;

}
.sidebar ul li:hover a::before{
  content: '';
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white) ;
  pointer-events: none;
}
.sidebar ul li:hover a::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white) ;
  pointer-events: none;
}

/* user not logged in base */
nav{
 height: 100%;
 width: 100%;
 background:var() ;
}

nav .navbar-brand img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
nav .navbar-toggler i{
  color: #0b8457;
  width: 100%;
  height: 100%;
  font-size:66px;
}

nav .collapse{
  width: 100%;
  height: 100%;
  
}

nav .collapse ul{
  padding: 20px;


}
nav .collapse ul li{
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 12px;
  text-align: right;
  font-weight: 900;

}
nav .collapse ul li a{
  color: #900c27;
}
nav .collapse ul li a:hover{
    border-bottom:2px solid #900c27;
    color: #260c1a;
}

.search-section{
  padding: 12px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: var(--darkblue);
  background-size: cover;
  background-position: center;
}

.search-section h1{
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 12px;
  color: #e3f6f5;
  font-weight: 900;
}
.search-section .form{
  padding: 15px;
  margin-top: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.search-section .form .travel-details{
  width: 100%;
  padding: 10px;
  margin-left:15px;
  margin-right:5px
}
.search-section .form .travel-details input{
  cursor: pointer;
  text-align: center;
  padding: 10px;
  
}
.search-section button{
  color: #ccc;
  width: 100px;
  padding: 10px;
  background-color: #0b8457;
  color: #fff;
  border: none;
  cursor: pointer;
}
.search-section button:hover{
    background-color: black;
    transition: 1s;
}

/* Employee homepage css */
.main-logged-in{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

.main-logged-in.active{
  width: calc(100% - 100px);
  left: 100px;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: var(--white);
  margin-bottom: 10px;
}
.navbar-toggler{
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;

}
.search{
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label{
  position: relative;
  width: 100%;
}
.search label input{
  width: 100%;
  height: 30px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}
.search label ion-icon{
position: absolute;
top: 0;
left:10px;
font-size: 1.2em;
padding-top: 6px;
}
.user{
  position: relative;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
}
.user a{
  margin-right: 15px; 
  text-decoration: none;
  text-transform: uppercase;
}
.user a .bi{
  font-size: 1.5em;
  margin-right: 15px;
  color: var(--darkblue);
}
.cardbox{
position: relative;
width: 100%;
padding: 10px;
grid-gap: 10px;
}
.cardbox .card{
  position: relative;
  width: 100%;
  background: var(--white);
  padding:10px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgb(0,0,0,0.08);
  margin-top: 10px;
}
.cardbox .card:hover{
  background: var(--darkblue);
  transition: 0.6s;
  color: #fff;
}

.cardbox .card .numbers{
  position: relative;
  font-weight: 500;
  font-size: 1.7em;
  color: var(--darkblue);
}
.cardbox .card:hover .numbers{
  color: var(--white);
}
.cardbox .card .card-name{
  color: var(--black2);
  font-size: 1em;
  margin-top: 10px;
}
.cardbox .card:hover .card-name{
  color: var(--white);
}
.cardbox .card .icon{
  font-size: 2.0em;
  color:var(--darkblue);
}
.cardbox .card:hover .icon{
  color: #fff;
}
 
.recent-bookings,
.recent-customers,
.schedules_list,
.schedules_details,
.buses_list,
.buses-detail{
  min-height: 500px;
  background: var(--white);
  padding: 15px;
  box-shadow: 0 7px 25px rgb(0,0,0,0.08);
  border-radius: 20px;
  margin-bottom: 20px;
  
}
.schedules_list{
  height: 100% !important;
 
}
.schedules_details,.buses-detail{
  width: 60%!important;
  margin-left: auto;
  margin-right: auto;
}
.buses_list{
  height: 100%!important;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 10px;
  text-transform: uppercase;
}
.header h1{
  font-weight: 600;
  color: var(--darkblue);
  font-size: 1.2em;
}
.header a{
  position: relative;
  padding: 5px 10px;
  background: var(--darkblue);
  text-decoration: none;
  color: var(--white);
  border-radius: 10px;
  border: 1px solid var(--white);
}
.header a:hover{
  background: var(--white);
  color: var(--darkblue);
  border: 1px solid var(--darkblue);
  transition: 0.6s;
}
.main-logged-in table{
  width: 100%;
  border-collapse: collapse;
  margin: 12px;
  padding: 10px;
  margin-bottom: 5px;
}
.main-logged-in table thead td{
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px;
  
}
.main-logged-in table tbody td{
  margin-top: 10px;
  padding: 10px;
}
.main-logged-in table tbody td a{
  text-decoration: none;
  text-transform: uppercase;
}
.recent-customers ul li{
  padding: 5px;
  margin-bottom: 12px;
  list-style: none;
  display: flex;
}
.recent-customers ul li .profile-image{
  padding: 5px;
}
.recent-customers ul li .profile-name{
 width: 100%;
}
.recent-customers ul li .profile-name .name{
  width: 100%;
  color: var(--darkblue);
  font-weight: 700;
  font-size: 1.1em;
}
.recent-customers ul li .profile-name .email-address{
  color: var(--black2);
  font-size: 0.9em;
  margin-top: 1px;
}
.recent-customers ul li img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.links{
  justify-content: center;
  width: 100%;
}
.links a{
  background: var(--darkblue);
  color: var(--white); 
  border: 1px solid var(--darkblue);
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
}
.links a:hover{
  background: var(--white);
  transition: 0.5s;
  color: var(--darkblue);
}
/* user not logged in homepage */
.trips-section{
  width: 100%;
  height: 100%;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-top: 10px;

}

.row{
  padding: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
 .col{
  background-color: #fff;
  padding: 10px;
  margin-top:10px;
  margin-left: auto;
  width:100%;
  height: 100%;
  margin-right: auto;
  border-radius: 5%;
  box-shadow: 0 0 9px #000; 
}
.trips-section h1, .col h3,h4{
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 12px;
  padding: 20px; 
}
.trips-section .col a{
  text-decoration: none;
  border: 1px solid rgb(49, 18, 230);
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-radius: 5%;
  color: rgb(49, 18, 230);
  margin-bottom: 10px;
  margin-left: auto;
}
.trips-section .row .col .trip a:hover{
  background-color: rgb(49, 18, 230);
  color: white;
  transition: 1s;
  
}
.trips-section .col .load-more{
  margin-bottom: 12px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none !important;
}

.description-section{
  padding: 10px;
  width: 100%;
  height: 100%;
  
} 
.description-section .row .col{
  background-color: none !important;
  box-shadow: none !important;
}
.description-section .row .col span img{
  width: 100px;
  margin: 5px 12px;
  height: 50px;
  border-radius: 5%;
}

.about-section{
 padding: 6px; 
}

.about-section h1{
  font-size: 16px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
}
.contact-form{
  padding: 12px;
  width: 100%;
  border-radius: 5%;
  height: 100%;

}
.contact-form form{
  width: 80%;
  height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.contact-form form p{
  color: #900c27;
  text-align: center;
}
.contact-form form button{
  width: 200px !important;
}
.contact-form form label{
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 2px;
  font-size: 12px;
}
.contact-info{
  padding: 5px;
}
.contact-info .bi{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: block;
}

