{% extends "ticketapp/base.html" %}
{% block body %}
{% if request.user.is_staff %}
<div class="admin-body-contents">
  <div class="topbar">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list menu"></i>
        <i class="bi bi-x-lg close"></i>
      </span>
    </button>
    <div class="user">
      <a href=""><i class="bi bi-person"></i></a>     		    	
      <a href=""><i class="bi bi-bell"></i></a>
      <a href="{% url 'signout' %}"><i class="bi bi-box-arrow-in-left"></i></a>    
    </div>
  </div>
{% else %}
<div class="content">
  {% endif %}
  <div class="booking-section">
    <div class="booking-header">
      <p>All bookings</p>
    </div>
    <div class="results">
      {% if bookings_list %}
      <table>
        <thead>
          <tr>
            <td>Ticket code</td>
            <td>Email</td>
            <td>schedule</td>
            <td>from</td>
            <td>to</td>
            <td>date</td>
            <td>time</td>
            <td>Tickets</td>
            <td>price</td>
            <td>Status</td>
            <td>actions</td>
          </tr>
        </thead>
        <tbody>
          {% for row in bookings_list %}
          <tr>
            <td>{{row.ticket_code}}</td>
            <td>{{row.customer_email}}</td>
            <td> {{row.schedule}} </td>
            <td> {{row.From}} </td>
            <td> {{row.To}} </td>
            <td> {{row.travelDate}} </td>
            <td> {{row.travelTime}} </td>
            <td>{{row.tickets}}</td>
            <td>{{row.total_amount_to_pay}}</td>
            <td>{{row.status}}</td>
            <td>
              {% if row.customer_email == request.user.email %}
              {% if row.status == 'Booked' %}
              <a href="{% url 'viewticket' row.booking_id %}" class="tickets"><i class="bi bi-ticket-perforated-fill">Ticket</i></a>
              <a href="{% url 'cancelbooking' row.booking_id%}" class="cancel"><i class="bi bi-x-octagon-fill">Cancel</i></a>
              {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p>You have not made any booking yet</p>
      {% endif %}
    </div>
    {% for schedule in page_obj %}
    {{ schedule.full_name|upper }}<br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                {% comment %} <a href="?page=1"> first</a> {% endcomment %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next &raquo; </a>
            {% endif %}
        </span>
    </div>
      
  </div>
</div>


  
{% endblock %}
