{% extends "ticketapp/base.html" %}
{% block body %}
{% if request.user.is_staff %}
<div class="admin-body-contents">
  <div class="topbar">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list menu"></i>
        <i class="bi bi-x-lg close"></i>
      </span>
    </button>
    <div class="user">
      <a href=""><i class="bi bi-person"></i></a>     		    	
      <a href=""><i class="bi bi-bell"></i></a>
      <a href="{% url 'signout' %}"><i class="bi bi-box-arrow-in-left"></i></a>    
    </div>
  </div>
{% else %}
<div class="content">
  {% endif %}
  <div class="booking-section">
    <form action=" {% url 'bookTicket' schedule.schedule_id %} " method="post" class="bookingForm">
      <div class="booking-header">
        <p>Fill in with your personal information</p>
      </div>
      {% csrf_token %}
      <p class="error-text">{{error}}</p>
      {{success}}
      {{form.errors}}
      <div class="input-group">
        <label for="Gender" class="form-label">{{ form.customer_email.label}}</label>
        {{ form.customer_email}}
        {{form.customer_email.help_text}}
      </div>
    
      <div class="input-group">
        <label for="Contact" class="form-label">{{ form.contacts.label}}</label>
        {{ form.contacts}}
      </div>
      <div class="input-group">
        <label for="Gender" class="form-label">{{ form.tickets.label}}</label>
        {{ form.tickets}}
        <p>Remaining tickets: <label>{{Tickets}}</label></p>
        <p>Price per ticket: <label>{{Price}} RF</label></p>
      </div>
      <div class="input-group">
        <button type="submit" name="Book">Book</button>
      </div>
    </form>
    </div>
  </div>

{% endblock %}