{% extends "ticketapp/base.html" %}

{% block body %}

<div class="content">
  {% if user.is_authenticated %}
  <div class="booking-section">
    <div class="bookingForm">
      <div class="booking-header">
        <p>confirm to cancelling booking</p>
        <div class="booklink">
          <a href=" {% url 'booking-list' %}">go back</a>
        </div>      
      </div>

      <p>Are you sure you want to cancel this booking: {{ bookings.From}}-{{bookings.To}}?</p>

      <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group">
          <button type="submit" class="">Yes,cancel</button>
        </div>
      </form>
    </div>
  </div>

{% else %}
  <p class="error-text">Acess denied. you must login first <a href='{% url 'signin' %}'>here</a></p>
  {% endif %}
</div>
{% endblock %}
