{% extends "ticketapp/base.html" %}
{% block body %}
{% if request.user.is_staff %}
<div class="admin-body-contents">
  <div class="topbar">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list menu"></i>
        <i class="bi bi-x-lg close"></i>
      </span>
    </button>
    <div class="user">
      <a href=""><i class="bi bi-person"></i></a>     		    	
      <a href=""><i class="bi bi-bell"></i></a>
      <a href="{% url 'signout' %}"><i class="bi bi-box-arrow-in-left"></i></a>    
    </div>
  </div>
{% else %}
<div class="content">
  {% endif %}
  <div class="">
    <div class ="input-group">
      {% load static %}
      <img src="{% static 'media/Bannerbackground.jpg' %}" alt="" class="profile-picture">
    </div>

  </div>
  <div class="booking-section">
  
    <div class="signupForm">
      <div class="booking-header">
        <p>Bus full details</p>
        {% if user.is_authenticated %}
        {% if request.user.is_staff %}
        <div class="booklink">
          <a href=" {% url 'bus-update' buses.bus_id %}" class="btn  m-2"> <i class="bi bi-pencil-square"></i>Edit</a>
        </div>
        <div class='booklink'>
          <a href="{% url 'bus-delete' buses.bus_id%}" class="btn  m-2"><i class="bi bi-trash"></i>Delete</a>
        </div>
        {% endif %}
        {% endif %}
        
      </div>
      <div class ="input-group">
        <label for="names">Bus model:</label>{{buses.bus_name}}
      </div>
      <div class ="input-group">
        <label for="email">Plate number:</label>{{buses.plate_number}}
      </div>
      <div class ="input-group">
        <label for="contact">Capacity:</label>{{buses.numberofseats}}
      </div>
      <div class ="input-group">
        <label for="gender">Brand:</label>{{buses.brand}}
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
