{% extends "ticketapp/base.html" %}
{% block body %}
{% if request.user.is_staff %}
<div class="admin-body-contents">
  <div class="topbar">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list menu"></i>
        <i class="bi bi-x-lg close"></i>
      </span>
    </button>
    <div class="user">
      <a href=""><i class="bi bi-person"></i></a>     		    	
      <a href=""><i class="bi bi-bell"></i></a>
      <a href="{% url 'signout' %}"><i class="bi bi-box-arrow-in-left"></i></a>    
    </div>
  </div>
{% else %}
<div class="content">
  {% endif %}
  <div class="booking-section">
    <form action="" method="post" class="bookingForm">
      <div class="booking-header">
        <p>Fill in with bus information</p>
      </div>
      {% csrf_token %}
      <div class="input-group">
        <label for="Names" >{{ form.bus_name.label}}</label>
        {{ form.bus_name}}
      </div>

      <div class="input-group">
        <label for="email" >{{ form.plate_number.label}}</label>
        {{ form.plate_number}}
      </div>

      <div class="input-group">
        <label for="contact" >{{ form.numberofseats.label}}</label>
        {{ form.numberofseats}}
      </div>
      <div class="input-group">
        <label for="gender" >{{ form.brand.label}}</label>
        {{ form.brand}}
      </div>

      <div class="input-group">
        <button type="submit" class="btn m-2 buttons">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}