{% extends "ticketapp/base.html" %}

{% block body%}

<div class="content">
  <div class="">
    <div class ="input-group">
      {% load static %}
      <img src="{% static 'media/Bannerbackground.jpg' %}" alt="" class="profile-picture">
    </div>

  </div>
  <div class="booking-section">
  
    <div class="signupForm">
      <div class="booking-header">
        <p>Driver personal information</p>
        {% if user.is_authenticated %}
        {% if request.user.is_staff %}
        <div class="booklink">
          <a href=" {% url 'driver-update' drivers.driver_id %}"> <i class="bi bi-pencil-square"></i>Edit</a>
          <a href="{% url 'driver-delete' drivers.driver_id%}"><i class="bi bi-trash"></i>Delete</a>
        </div>
        {% endif %}
        {% endif %}
        
      </div>
      <div class ="input-group">
        <label for="names">Driver names:</label>{{drivers.driver_names}}
      </div>
      <div class ="input-group">
        <label for="email">Driver email:</label>{{drivers.email}}
      </div>
      <div class ="input-group">
        <label for="contact">Contact:</label>{{drivers.contact}}
      </div>
      <div class ="input-group">
        <label for="gender">Gender:</label>{{drivers.gender}}
      </div>
    </div>
  </div>
</div>

  
{% endblock %}
