{% extends "ticketapp/base.html" %}

{% block body %}
<div class="content">
  {%if user.is_authenticated%}
  {%if user.is_staff%}
  <div class="booking-section">
    <div class="booking-header">
      <p>Drivers</p>
      <a href="{% url 'driver-create' %}"><i class="bi bi-plus-lg"></i> Add new driver</a>
    </div>
    <div class="results">
      {% for row in drivers_list  %}
      <div class="searchcardbox">
        <div class="searchcard">
          <div class="searchcard-image">

          </div>
          <h6>Photo</h6>
          <div class="card-text">
            <img src="" alt="">
          </div>
        </div>
        <div class="searchcard">
          <h6>Names</h6>
          <div class="card-text">
            <label for="Names">{{row.driver_names }}</label>
          </div>
        </div>
        <div class="searchcard">
          <h6>Email address</h6>
          <div class="card-text">
            <label for="email">{{row.email}}</label>
          </div>
          
        </div>
        <div class="searchcard">
          <h6>Contacts</h6>
          <div class="card-text">
            <label for="contact">{{row.contact}}</label>
          </div>
        </div>
        <div class="searchcard">
          <h6>Gender</h6>
          <div class="card-text">
            <label for="gender">{{row.gender}}</label>
          </div>
        </div>
        <div class="searchcard">
          <h6>Category</h6>
          <div class="card-text">
            <label for="Category"></label>
          </div>
        </div>
        <div class="full-details">
          <a href="{{ row.get_absolute_url }}">View full details</a>
        </div> 
      </div>  
      
      {% endfor %}
      {% for schedule in page_obj %}
      {{ schedule.full_name|upper }}<br>
      {% endfor %}

      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  {% comment %} <a href="?page=1"> first</a> {% endcomment %}
                  <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
              {% endif %}

              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next &raquo; </a>
              {% endif %}
          </span>
      </div>
        
    </div>
  </div>
  {% else %}
  <p class="error-text">Acess forbiden 405</p>
  {% endif %}
  {% else %}
  <p class="error-text">Acess denied. you must login first <a href='{% url 'signin' %}'>here</a></p>
  {% endif %}
</div>  
{% endblock %}
