{% extends "ticketapp/base.html" %}
{% block body %}
{% if request.user.is_staff %}
<div class="admin-body-contents">
  <div class="topbar">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list menu"></i>
        <i class="bi bi-x-lg close"></i>
      </span>
    </button>
    <div class="user">
      <a href=""><i class="bi bi-person"></i></a>     		    	
      <a href=""><i class="bi bi-bell"></i></a>
      <a href="{% url 'signout' %}"><i class="bi bi-box-arrow-in-left"></i></a>    
    </div>
  </div>
{% else %}
<div class="content">
  {% endif %}
  <div class="booking-section">
    <div class="booking-header">
      <p>OUR Schedules</p>
      {% if user.is_authenticated %}
      {% if request.user.is_staff %}
      <div class='booklink'>
        <a href="{% url 'schedule-create' %}"><i class="bi bi-plus-lg"></i>schedule</a>
      </div>
      {% endif %}
      {% endif %}
    </div>
    <div class="results">
      {% if schedules_list %}
      {% for row in schedules_list  %}
      <div class="searchcardbox">
        <div class="searchcard">
          <div class="searchcard-image">

          </div>
          <h6>Company</h6>
          <div class="card-text">
            <label for="comapany">Volcano Express</label>
          </div>
        </div>
        <div class="searchcard">
          <h6>Departing time</h6>
          <div class="card-text">
            <label for="departing-time">{{row.departing_time}}</label>
            <div>
              <h7>Terminal:</h7>
              <p>Nyabugogo tax park</p>
            </div>
          </div>
        </div>
        <div class="searchcard">
          <h6>Schedule</h6>
          <div class="card-text">
            <label for="Schedule">{{row.starting_point}} - {{row.destination}}</label>
          </div>
          
        </div>
        <div class="searchcard">
          <h6>Date</h6>
          <div class="card-text">
            <label for="arriving_time">{{row.schedule_date}}</label>
          </div>
          
        </div>
        <div class="searchcard">
          <h6>Fare amount</h6>
          <div class="card-text">
            <label for="fare">{{row.price}} Rf</label>
          </div>
        </div>
        <div class="searchcard">
          <h6>Seats available</h6>
          <div class="card-text">
            <label for="duration">{{row.availableseats}}</label>
          </div>
        </div>
        <div class="full-details">
          <a href="{{ row.get_absolute_url }}">View full details</a>
        </div> 
      </div>  
      
      {% endfor %}
      {% for schedule in page_obj %}
      {{ schedule.full_name|upper }}<br>
      {% endfor %}

      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  {% comment %} <a href="?page=1"> first</a> {% endcomment %}
                  <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
              {% endif %}

              <span class="current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next &raquo; </a>
              {% endif %}
          </span>
      </div>
      {% else %}
      <p>No schedule yet</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
