{% extends "ticketapp/base.html" %}
{% block body %}
{% if request.user.is_staff %}
<div class="admin-body-contents">
  <div class="topbar">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list menu"></i>
        <i class="bi bi-x-lg close"></i>
      </span>
    </button>
    <div class="user">
      <a href=""><i class="bi bi-person"></i></a>     		    	
      <a href=""><i class="bi bi-bell"></i></a>
      <a href="{% url 'signout' %}"><i class="bi bi-box-arrow-in-left"></i></a>    
    </div>
  </div>
{% else %}
<div class="content">
  {% endif %}
  <div class="booking-section">
    <form action="" method="post" class="bookingForm">
      <div class="booking-header">
        <p>Fill in with schedules information</p>
      </div>
      {% csrf_token %}
      <div class="input-group">
        <label for="startingpoint" >{{ form.starting_point.label}}</label>
        {{ form.starting_point}}
      </div>

      <div class="input-group">
        <label for="destination" >{{ form.destination.label}}</label>
        {{ form.destination}}
      </div>

      <div class="input-group">
        <label for="contact" >{{ form.departing_time.label}}</label>
        {{ form.departing_time}}
      </div>
      <div class="input-group">
        <label for="gender" >{{ form.estimated_arrival_time.label}}</label>
        {{ form.estimated_arrival_time}}
      </div>

      <div class="input-group">
        <label for="gender" >{{ form.schedule_date.label}}</label>
        {{ form.schedule_date}}
      </div>

      <div class="input-group">
        <label for="gender" >{{ form.bus.label}}</label>
        {{ form.bus}}
      </div>

      <div class="input-group">
        <label for="gender" >{{ form.driver.label}}</label>
        {{ form.driver}}
      </div>

      <div class="input-group">
        <label for="gender" >{{ form.price.label}}</label>
        {{ form.price}}
      </div>

      <div class="input-group">
        <label for="gender" >{{ form.availableseats.label}}</label>
        {{ form.availableseats}}
      </div>

      <div class="input-group">
        <button type="submit" class="btn m-2 buttons">Save</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}