{% extends "ticketapp/base.html" %}
{% block body %}
{% if request.user.is_staff %}
<div class="admin-body-contents">
  <div class="topbar">
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon">
        <i class="bi bi-list menu"></i>
        <i class="bi bi-x-lg close"></i>
      </span>
    </button>
    <div class="user">
      <a href=""><i class="bi bi-person"></i></a>     		    	
      <a href=""><i class="bi bi-bell"></i></a>
      <a href="{% url 'signout' %}"><i class="bi bi-box-arrow-in-left"></i></a>    
    </div>
  </div>
{% else %}
<div class="content">
  {% endif %}
  <div class="schedule-details">
    <div class="schedule-detail-title">
      <div class="booking-header">
        <p>schedules details</p>
        {% if user.is_authenticated %}
        {% if request.user.is_staff %}
        <div class="booklink">
          <a href=" {% url 'schedule-update' schedules.schedule_id %}" class="btn  m-2"> <i class="bi bi-pencil-square"></i>Edit</a>
        </div>
        <div class='booklink'>
          <a href="{% url 'schedule-delete' schedules.schedule_id%}" class="btn  m-2"><i class="bi bi-trash"></i>Delete</a>
        </div>
        {% endif %}
        {% else %}
        {% endif %}
      </div>
    </div>
      
    <div class="schedule-detail-body">
      <div class="schedule-detail-body-left">
        <div class="boardingdropping">
          <div class="boarding">
            <label for="">boarding</label>
            <div class="boardingpoint">
              <label for="">{{schedules.departing_time}}</label>
              <p>Terminal name</p>
            </div>
            
          </div>
          <div class="dropping">
            <label for="">Dropping</label>
            <div class="droppingpoint">
              <label for="">{{schedules.estimated_arrival_time}}</label>
              <p>Terminal name</p>
            </div>
              
          </div>
          <label for="">Bus image</label>
          <div class='content'>
            <div class="input-group">
              <label for="">Inside view<label>
              {% load static %}
              <img src="{% static 'media/Bannerbackground.jpg' %}">
            </div>
            <div class="input-group">
              <label for="">Inside view<label>
              {% load static %}
              <img src="{% static 'media/Bannerbackground.jpg' %}">
            </div>
            <div class="input-group">
              <label for="">Inside view<label>
              {% load static %}
              <img src="{% static 'media/Bannerbackground.jpg' %}">
            </div>
          </div>
          <label for="">Add ons</label>
      </div>
    </div>
    <div class="booking-section"> 
      <div class="booking-header">
        <div class="company">
            <p>Volcano express</p>
        </div>
        <div class="price">
            {{schedules.price}} rf
        </div>
      </div>
      <div class="searchcardbox">
          <div class="searchcard">
            <h6>Schedule</h6>
            <div class="card-text">
              <label for="">{{schedules.starting_point}} - {{schedules.destination}}</label>
            </div>
            
          </div>
          <div class="searchcard">
            <h6>Date</h6>
            <div class="card-text">
              <label for="departing-time">{{schedules.schedule_date}}</label>
            </div>
          </div>
          <div class="searchcard">
            <h6>Assigned bus</h6>
            <div class="card-text">
              <label for="duration">{{schedules.bus}}</label>
            </div>
          </div>
          <div class="searchcard">
            <h6>driver</h6>
            <div class="card-text">
              <label for="arriving_time">{{schedules.driver}}</label>
            </div>
            
          </div>
          <div class="searchcard">
            <h6>Seats Available</h6>
            <div class="card-text">
              <label for="arriving_time">{{schedules.availableseats}}</label>
            </div>
            
          </div>
        </div>
        <div class="booklink">
          <a href=" {% url 'bookTicket' schedules.schedule_id %}">BOOK TICKET</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}