{% extends 'ticketapp/base.html' %}
{% block body %}
<div class="content">
  <div class="booking-section">
    
    <form action="{% url 'signup' %}" method="post" class="signupForm">
      <div class="booking-header">
        <p>Register a new User</p>
      </div>
      {% csrf_token %}
        {{ success }}
        {% comment %} <p class="error-text"> {% endcomment %}
          {{error}}
          {% for field in form %}
          <div class="input-group">
            <label for="Username" >{{ field.label_tag }}</label>
            {{ field }}
            {% if field.help_text %}
              <small>{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% for error in field.errors %}
            <p class="error-text">{{ error }}</p>
          {% endfor %}
          {% endfor %}
        {% comment %} </p> {% endcomment %}
        <div class="input-group">
          <label>Already have an account?<a href="{% url 'signin' %}">Log in</a></label>
        </div>
        
        <div class="input-group">
          <button type="submit">Create account</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}